@using ClubInfluApp.ViewModels
@model List<CuponServicioViewModel>

@{
    ViewData["BodyClass"] = "application-influencer";
    ViewData["Title"] = "Usuarios Influencer";
}
@if (ViewData["CuponesPendientes"] != null)
{
    <div class="alert alert-warning">
        @ViewData["CuponesPendientes"]
    </div>
}


<div class="table-responsive">
    <table class="table table-bordered" style="background-color: white; color: black;">
        <thead class="thead-light">
            <tr>
                <th>Nombre Oferta Servicio</th>
                <th>Código Cupon</th>
                <th>Fecha de redención</th>
                <th>Estado Cupon</th>
                <th>Gestionar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuponServicioViewModel in Model)
            {
                <tr>
                    <td>@cuponServicioViewModel.nombreOfertaServicio</td>
                    <td>@cuponServicioViewModel.codigo</td>
                    <td>
                        @cuponServicioViewModel.fechaRedencion?.ToString("yyyy-MM-dd")
                    </td>
                    <td>@cuponServicioViewModel.nombreEstadoCupon</td>
                    <td>
                        <a href="@Url.Action("GestionarCuponServicio", "CuponServicio", new { idCuponServicio  = cuponServicioViewModel.idCuponServicio })" class="btn btn-primary">Gestionar </a>
                      
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <partial name="_ValidationScriptsPartial" />
}