@using ClubInfluApp.ViewModels
@model ClubInfluApp.ViewModels.OfertasServiciosViewModel

@{
	ViewData["BodyClass"] = "application-influencer";
	ViewData["Title"] = "Ofertas De Servicio";
}

<style>
    h1 {
        color: white;
    }

    .card-img-top {
        max-height: 220px;
        object-fit: cover;
    }
</style>

<h1 class="text-center mb-5">Ofertas Exclusivas Para Influencers Como Tu</h1>

@* <form asp-controller="OfertaServicio" asp-action="ListarOfertasServicios" method="post" class="mt-3"> 
    <fieldset>
        <legend class="fw-bold text-success">Seleccione datos de filtrado</legend>


        <div class="mb-3">
            <label asp-for="tipo" class="form-label">Categoria</label>
            <select asp-for="tipo" asp-items="Html.GetEnumSelectList<TipoUsuario>()" class="form-select rounded-3" required>
                <option value="">Seleccione el tipo de usuario</option>
            </select>
            <span asp-validation-for="tipo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="tipo" class="form-label">Estado</label>
            <select asp-for="tipo" asp-items="Html.GetEnumSelectList<TipoUsuario>()" class="form-select rounded-3" required>
                <option value="">Seleccione el tipo de usuario</option>
            </select>
            <span asp-validation-for="tipo" class="text-danger"></span>
        </div>
    </fieldset>

    <button type="submit" id="btnIniciarSesion" class="btn btn-dark w-100 py-2 rounded-pill fw-bold">
        Iniciar Sesión
    </button>
</form>

 *@
<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach(OfertaServicioViewModel ofertaServicio in Model.ofertasServicios)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@ofertaServicio.imagen" class="card-img-top" alt="Spa Premium">
                <div class="card-body">
                    <h5 class="card-title">@ofertaServicio.nombre</h5>
                    <p class="card-text">@ofertaServicio.descripcion</p>
                    <p class="mb-1"><strong>Categoría:</strong> @ofertaServicio.nombreCategoria</p>
                    <p class="mb-1"><strong>Válido:</strong> @ofertaServicio.fechaInicio - @ofertaServicio.fechaFin</p>
                    <p><strong>Horario:</strong> @ofertaServicio.horaInicio - @ofertaServicio.horaFin</p>
                    <a href="#" class="btn btn-success w-100">Reservar Cupón</a>
                </div>
            </div>
        </div>
    }
      

</div>